@model List<BaoVeSolution.WebApplication.DB.Entities.Comment>

@if (Model != null)
{
    foreach (var cmt in Model)
    {

    }
}


<div class="mb-5">
    <h3 class="mb-4 section-title">@Model.Count Bình luận</h3>
    <div class="media mb-4">
        <img src="Content/img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1" style="width: 45px;">
        <div class="media-body">
            <h6>John Doe <small><i></i></small></h6>
            <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum clita, at tempor amet ipsum diam tempor sit.</p>
            <button class="btn btn-sm btn-light">Reply</button>
        </div>
    </div>
    <div class="media mb-4">
        <img src="Content/img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1" style="width: 45px;">
        <div class="media-body">
            <h6>John Doe <small><i>01 Jan 2045 at 12:00pm</i></small></h6>
            <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum clita, at tempor amet ipsum diam tempor sit.</p>
            <button class="btn btn-sm btn-light">Reply</button>
            <div class="media mt-4">
                <img src="Content/img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1"
                     style="width: 45px;">
                <div class="media-body">
                    <h6>John Doe <small><i>01 Jan 2045 at 12:00pm</i></small></h6>
                    <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum clita, at tempor amet ipsum diam tempor sit.</p>
                    <button class="btn btn-sm btn-light">Reply</button>
                </div>
            </div>
        </div>
    </div>
</div>
